
.navbar{
    /* max-width:fit-content; */


} 
.navbar-item{
    font-size: .7em;
    letter-spacing: .05rem;
    font-weight: bolder;
}
.navbar-logo{
    align-content: center;
    min-width: 10px;
}

html{
    background-color:rgb(255,17,0);
    min-width: 300px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
  }

body{
    padding: 0px;
    overflow: hidden;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-justify: center;
    background-color:rgb(255,17,0);
    width: 100vw;

}

main {    
    margin: 0 10vw;

    display: flex;
    justify-items: center;
    justify-content: center;
    align-items:center;
    align-content:center;
    text-align: center;
    text-justify:center;
    background-color: rgb(255, 17, 0);
    justify-content: center;

    /*max-width: fit-content;*/
    /* min-height: 100vh;
    min-width: 100vw; */
}

.btn-joke {
    font-size: large;
    letter-spacing: 2px;
    padding: 5px 15px;
    border-radius: 15px;
    margin: 2.5rem;
    font-weight: bolder;
    background-color: #ffe08a;
}

.label-click {
    font-size: x-large;
    font-weight: bold;
    color: white;
    margin: 3rem 5rem;
}

.label-sub {
    font-size: medium;
    font-weight: light;
    color: white;
    margin: 3rem 5rem;
}

.recipe-card {
    padding: 25px;
    margin: 5vw;
    background-color: white;
    border-radius: 50px;
}


.grid {

    max-width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    justify-content:center;
    align-items:center;
    align-content:center;
    text-align:center;
    min-width: 100%;
    background-color:rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.189);
    align-content: center;
    
}

.option {

    justify-items: center;
    justify-content:center;
    align-items:center;
    align-content:center;
    text-align:center;
    text-justify:center;
    padding: 3px;
    margin: auto;
    min-width: 33%;
}

.option:hover {
    justify-items: center;
    justify-content:center;
    align-items:center;
    align-content:center;
    text-align:center;
    text-justify:center;
    opacity: 50%;
    border: solid;
    border-color:yellow;
    border-radius: 10px;
    min-width: 33%;
    border-width: 3px;
}

.footer{
    margin-top: 5rem;
    background-color: #ffe08a;
    width: 100vw;

}
